<div class="flex w-full justify-center">
    <div class="sm:w-1/2 text-center">
        <div class="m-4 mt-32">
            <div class="font-bold text-2xl">About IdeaNestle</div>
            <p>Welcome to IdeaNestle, your creative hub for all things innovative, inspiring, 
                and imaginative. We are passionate about nurturing ideas and turning them into reality. 
                Our mission is to be your go-to source for valuable insights, tips, and inspiration to fuel your creative journey.</p>
        </div>
        <div class="m-4 mt-8 mb-48">
            <div class="font-bold text-2xl">Who We Are</div>
            <p>At IdeaNestle, we are a diverse team of thinkers, dreamers, and doers. 
                We believe that everyone has a unique spark of creativity within them, 
                and our goal is to help you unleash that potential. Whether you're an entrepreneur, 
                an artist, a writer, or simply someone looking to explore your creative side, we're here to support and guide you.</p>
        </div>
    </div>
</div>
